# Dépendances
node_modules/

# Build outputs
dist/
dist-ssr/

# Cache Vite
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environnement local
*.local
.env
.env.local
.env.*.local

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
